<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>芒果动听</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src='http://tdbucketdefault.oss-cn-shanghai.aliyuncs.com/web/jquery-3.3.1.min.js'></script>
  <script src='http://tdbucketdefault.oss-cn-shanghai.aliyuncs.com/web/base.js'></script>
  <!-- <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script> -->
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
