.main {
  width: 100%;
  min-height: 100%;
  color: white;
  background: #171A26;
  .div1 {
    height: 8.96rem;
    padding-top: 3.6267rem;
    background-image: url("../../../assets/singer/bg1.png");
    background-size: 100% 100%;
    .item1 {
      padding-left: 0.9333rem;
      height: 1.04rem;
      font-size: 0.5867rem;
      font-weight:600;
      line-height:1.04rem;
    }
    .item2 {
      padding-left: 0.9333rem;
      height:1.04rem;
      font-size:0.4267rem;
      font-weight:600;
      line-height:1.04rem;
    }
    .item3 {
      .bg1 {
        width: 9.68rem;
        height: 2.9333rem;
        margin-top: 0.1067rem;
        margin-left: 0.16rem;
        background-image: url("../../../assets/singer/rec1.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 0.4rem;
          height: 0.4rem;
        }
        .title {
          padding-left: 0.2rem;
          padding-right: 0.2rem;
          height:0.6667rem;
          font-size:0.48rem;
          font-weight:600;
          color:rgba(249,195,212,1);
          line-height:0.6667rem;
          letter-spacing:0.0667rem;
        }
      }
    }
  }
  
}
