.main {
  width: 100%;
  min-height: 100%;
  color: white;
  background: #171A26;
  .div1 {
    height: 8.96rem;
    padding-top: 3.6267rem;
    background-image: url("../../../assets/singer/bg1.png");
    background-size: 100% 100%;
    .item1 {
      padding-left: 0.9333rem;
      height: 1.04rem;
      font-size: 0.5867rem;
      font-weight:600;
      line-height:1.04rem;
    }
    .item2 {
      padding-left: 0.9333rem;
      height:1.04rem;
      font-size:0.4267rem;
      font-weight:600;
      line-height:1.04rem;
    }
    .item3 {
      .bg1 {
        width: 9.68rem;
        height: 3.1467rem;
        margin-top: 0.1067rem;
        margin-left: 0.16rem;
        background-image: url("../../../assets/singer/rec1.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .item3_1 {
          height:0.5333rem;
          font-size:0.4267rem;
          font-weight:600;
          line-height:0.5333rem;
        }
        .item3_2 {
          margin-left: 0.4rem;
          height:0.8533rem;
          font-size:0.6133rem;
          font-weight:600;
          line-height:0.8533rem;
          display: flex;
          .time {
            width:0.5067rem;
            height:0.96rem;
            background:rgba(246,7,84,1);
            border-radius:0.1333rem;
            flex: 1;
            margin: 0 0.05rem;
            text-align: center;
          } 
          .devide {
            color: #F60754;
            text-align: center;
            width:0.4067rem;
          }
        }
      }
    }
  }
  .div2 {
    padding-left: 0.56rem;
    padding-bottom: 0.5rem;
    .item4 {
      display: flex;
      align-items: center;
      img {
        width: 0.4rem;
        height: 0.4rem;
      }
      .title {
        padding-left: 0.2133rem;
        height:0.5867rem;
        font-size:0.4267rem;
        font-weight:600;
        line-height:0.5867rem;
      }
    }
    .item5 {
      padding-top: 0.32rem;
      padding-right: 0.5867rem;
      height:1.6rem;
      font-size:0.32rem;
      font-weight:500;
      line-height:0.5333rem;
    }
    .item6 {
      position: relative;
      width:8.8533rem;
      height:4.4533rem;
      margin-top: 0.64rem;
      border-radius:0.16rem;
      background-image: url("../../../assets/singer/bg2.png");
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 1.36rem;
        height: 1.2267rem;
      }
      .title {
        position: absolute;
        bottom: 0.3733rem;
        left: 0.3733rem;
        height:0.5867rem;
        font-size:0.4267rem;
        font-weight:600;
        line-height:0.5867rem;
      }
    }
    .item7 {
      padding-top: 0.32rem;
      padding-right: 0.5333rem;
      font-size:0.32rem;
      font-weight:500;
      line-height:0.5333rem;
    }
  }
}
